<div class="container mt-5 mb-5">
  <div class="white-box">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Rua</th>
          <th scope="col">CEP</th>
          <th scope="col">Número</th>
          <th scope="col">E-mail</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of form">
          <th>{{item.nome}}</th>
          <td>{{item.cpf}}</td>
          <td>{{item.rua}}</td>
          <td>{{item.cep}}</td>
          <td>{{item.numero}}</td>
          <td>{{item.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
